
/* FONT IMPORTS */
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);


/* VARIABLES */

:root {
  --main-color: seagreen;
  --text-color: #777;
  --text-color-light: #ccc;
  --border-color: #eee;
  --bg-color: #f9f9f9;
  --neutral-color: #fff;
}

/* GENERAL */

* {
  box-sizing: border-box;
}

.app {
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
}

.app > div {
  height: 100%;
  width: 100%;
}