/* Dark: #193023 Pale: #529C72 Deep: #0E4727 Bright: #12C45F */
/* Dark BckGrnd: #294736 light: #168C49 TurqGreen: #9FE0BC */
.cThanks {
    display: grid;
    grid-template: 10vh 30vh 60vh / 70% 30%;
    background-color: #294736;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}

.thxHead {
    display: flex;
    flex-direction: row;
    grid-area: 2 / 1 / 3 / 2;
    font-size: 2rem;
    color: #9FE0BC;
    margin-left: 3vw;
    margin-top: 2%;
}

.other {
    display: flex;
    flex-direction: row;
    width: 100vw;
    grid-area: 1 / 1 / 2 / 3;
    background-color: black;
}

.navLog {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    width: 30vw;
    justify-content: flex-end;
}

.navLog > a {
    margin-right: 1vw;
    margin-top: 1vh;
}

#slC {
    width: auto;
    max-height: 90%;
}

.cNav {
    display: flex;
    flex-direction: row;
    background-color: black;
    width: 70vw;
    justify-content: space-evenly;
}

.cNav > a {
    color: #529C72;
    text-decoration: none;
    font-size: 1.4rem;
    align-self: center;
}

.cNav > a:hover {
    color: #12C45F;
}

.calLin {
    text-decoration: none;
    color: #529C72;
    font-size: 1.4rem;
    align-self: center;
}

.calLin:hover {
    color: #12C45F;
}

.logoC {
    display: flex;
    grid-area: 3 / 1 / 4 / 2;
    width: 100%;
    height: 60%;
    justify-content: end;
}

.logoC > a {
    align-self: center;
}

#emailMe {
    font-size: 4rem;
    text-decoration: none;
    color: black;
    margin-right: 30%;
    animation-name: fadeInBottom;
    animation-duration: 1.5s;
    animation-fill-mode: both;
}

#emailMe:hover {
    color: #12C45F;
}

@keyframes fadeInBottom {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to { opacity: 1 }
}